*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(208, 223, 233);
    font-size: 16;
}
h3{
    text-align: center;
    font-size: 1.3rem;
}
p{
    text-align: center;
    font-size: 1rem;
    color: rgb(89, 90, 91);
}
.card{
   max-width: 23rem;
   min-height: 32.5rem;
   margin: auto;
   background-color: white;
   border-radius: 5%;
   margin-top: 5rem;

}
.card-box{
    max-width: 18rem;
    max-height:18rem;
    margin: auto;
    padding-top: 8%;
    
}
.img{
    width: 100%;
    border-radius: 5%;
}
.info{
    max-width: 15rem;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 6%;
    

}
.info2{
    max-width: 17rem;
    margin: auto;
}
